<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeyio.openwebproject</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5F193E8B-1374-4B41-B2FE-7D05D3DC33E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C713BB79-A92B-42B9-95B3-D14A61D5C21A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A202526F-7B47-49FD-A815-39C799A52FD9</key>
		<array/>
		<key>C4C59CDC-477C-4E63-ABEC-C7F8538D547A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C742F85-3CAD-4364-BB2E-F044424486F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>06068020-9F08-47C9-BF0E-8BB2DE5E1416</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A202526F-7B47-49FD-A815-39C799A52FD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C713BB79-A92B-42B9-95B3-D14A61D5C21A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF590396-7D07-4DA5-9454-C896811212D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF590396-7D07-4DA5-9454-C896811212D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4C59CDC-477C-4E63-ABEC-C7F8538D547A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>乔洋洋</string>
	<key>description</key>
	<string>打开指定目录下的项目，可以选择使用webstorm或vscode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>打开项目</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/WebStorm.app</string>
				<key>sourcefile</key>
				<string>{var:path}/{var:filename}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4C742F85-3CAD-4364-BB2E-F044424486F8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python index.py "{query}" $path</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>通过VsCode或WebStorm打开Web项目</string>
				<key>title</key>
				<string>打开Web项目</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5F193E8B-1374-4B41-B2FE-7D05D3DC33E6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"de0ae924c1f2a096e20c133ad518bd465ca4df1e.png","title":"WebStorm","arg":"webstorm"},{"imagefile":"ee2fd2a34f248d19ae49d497f9143a2f690b5ff4.png","title":"VsCode","arg":"vscode"}]</string>
				<key>keyword</key>
				<string>vcode</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>EF590396-7D07-4DA5-9454-C896811212D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>webstorm</string>
						<key>outputlabel</key>
						<string>webstorm</string>
						<key>uid</key>
						<string>06068020-9F08-47C9-BF0E-8BB2DE5E1416</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C4C59CDC-477C-4E63-ABEC-C7F8538D547A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C713BB79-A92B-42B9-95B3-D14A61D5C21A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>{var:path}/{var:filename}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A202526F-7B47-49FD-A815-39C799A52FD9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>打开指定目录下的项目，可以选择使用webstorm或vscode，也可以根据自己的需求修改对应的启动程序。
项目目录需要写在右上角的全局变量path里。这样才能检索到内容</string>
	<key>uidata</key>
	<dict>
		<key>4C742F85-3CAD-4364-BB2E-F044424486F8</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>5F193E8B-1374-4B41-B2FE-7D05D3DC33E6</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>A202526F-7B47-49FD-A815-39C799A52FD9</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C4C59CDC-477C-4E63-ABEC-C7F8538D547A</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>C713BB79-A92B-42B9-95B3-D14A61D5C21A</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>EF590396-7D07-4DA5-9454-C896811212D1</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>path</key>
		<string>~/Documents/webdev</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://zeyio</string>
</dict>
</plist>
